#myCanvas 
{
    z-index: 1; 
    position: absolute;
    border:1px solid gray;
    margin-top: -.5%;
    margin-left: 0.85%;
}

#pause 
{
    z-index:-1; 
    height: 60%; 
    width: 60%; 
    position: absolute; 
    top: 20%; 
    left: 20%;
}

#soundOn 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: .75%; 
    left: 93%;
}

#soundOff 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: .75%; 
    left: 93%;
}

#startMenu 
{
    z-index: -1;
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0%; 
    left: -2%;
}

#title
{
    height: 40%; 
    width: 20%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#singlePlayer 
{
    height: 30%; 
    width: 15%;
    position: absolute; 
    top: 65%; 
    left: 20%;
}

#multiPlayer 
{
    height: 40%; 
    width: 20%;
    position: absolute; 
    top: 60%; 
    left: 70%;
}

#teleportic 
{
    height: 30%; 
    width: 15%;
    position: absolute; 
    top: 40%; 
    left: 10%;
}

#multiTeleportic 
{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 35%;
    left: 78%;
}

#howToPlay
{
    z-index: 3;
    height: 5%; 
    width: 15%;
    position: absolute; 
    top: 85%; 
    left: 45%;
}

#instructions 
{
    z-index: -1;
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#goBack
{
    position: absolute; 
    top: 3%; 
    left: 82%;
}

#listOfControls
{
    height: 50%; 
    width: 75%;
    position: absolute; 
    top: 10%; 
    left: 5%;
}

*
{
    color: white;
}
