canvas 
{
    z-index: 1; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    border:3px solid gray;
}

#pause 
{
    z-index:-1; 
    height: 60%; 
    width: 60%; 
    position:absolute; 
    top: 20%; 
    left:20%;
}

#soundOn 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: 2%; 
    left:93%;
}

#soundOff 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: 2%; 
    left:93%;
}

#startMenu 
{
    z-index: -1;
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#title
{
    height: 40%; 
    width: 20%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#singlePlayer 
{
    height: 30%; 
    width: 15%;
    position: absolute; 
    top: 65%; 
    left: 20%;
}

#multiPlayer 
{
    height: 40%; 
    width: 20%;
    position: absolute; 
    top: 60%; 
    left: 70%;
}

#teleportic 
{
    height: 30%; 
    width: 15%;
    position: absolute; 
    top: 40%; 
    left: 10%;
}

#multiTeleportic 
{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 35%;
    left: 78%;
}